<div class="footer">
  <div class="mainFooter">
    <div class="container">
      <div class="row">

        <div class="col-md-3">
          <div>
            Kapsimalis Angelos
          </div>
          <div>
              <i class="fab fa-linkedin-in"></i>&nbsp;&nbsp;
            <a href="https://linkedin.com/in/a-kapsimalis" target="_blank">LinkedIn</a>
            <br>
            <i class="fab fa-github"></i>&nbsp;&nbsp;
            <a href="https://github.com/AngKaps" target="_blank">GitHub</a>
          </div>  
        </div>

        <div class="col-md-3">
            <div>
              Loizou Loizos
            </div>
            <div>
              <i class="fab fa-linkedin-in"></i>&nbsp;&nbsp;
              <a href="https://www.linkedin.com/in/loizos-loizou/" target="_blank">LinkedIn</a>
              <br>
              <i class="fab fa-github"></i>&nbsp;&nbsp;
              <a href="https://github.com/LoizosLoizou" target="_blank">GitHub</a>
            </div>  
          </div>

          <div class="col-md-3">
              <div>
                Papanikos Iraklis
              </div>
              <div>
                  <i class="fab fa-linkedin-in"></i>&nbsp;&nbsp;
                <a href="https://www.linkedin.com/in/iraklis-papanikos/" target="_blank">LinkedIn</a>
                <br>
                <i class="fab fa-github"></i>&nbsp;&nbsp;
                <a href="https://github.com/IraPap" target="_blank">GitHub</a>
              </div>  
            </div>

            <div class="col-md-3">
                <div>
                  Sotiropoulos Vasilis
                </div>
                <div>
                    <i class="fab fa-linkedin-in"></i>&nbsp;&nbsp;
                  <a href="https://www.linkedin.com/in/VasilhsSot/" target="_blank">LinkedIn</a>
                  <br>
                  <i class="fab fa-github"></i>&nbsp;&nbsp;
                  <a href="https://github.com/VasilhsSot" target="_blank">GitHub</a>
                </div>  
              </div>

      </div>
    </div>
  </div>
</div>
